<div class="home-body">
    <div class="row align-items-center">
        <div class="col-auto">
            <img src="../../assets/images/BG.png">
        </div>
        <div class="col-6">
            <h1>Recruitment Task</h1>
            <p>Build an angular app using nebular library, with a simple google login button, which will perform google auth and then display profile information on the successful logged in page.  (protected by auth guard).  Try to use as many nebular components as possible for these (including the auth, buttons etc).
                It should have a way to logout after logged in.  Please track progress using Git.
                
                Once you have built the app and push it on github, please share with me the github link and also upload the project in stackblits and share that link as well to evaluate the final running version.  Use your scss skills to make the project look beautiful.</p>
            <!-- <div class="buttons">
                <button class="btn btn-primary">Sign In</button>
            </div> -->
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        </div>
    </div>
</div>